* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: url(./img/banner.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20% 0;
  color: purple;
}
/* nav::after {
  display: block;
  clear: both;
  content: "";
} */
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}
i {
  scale: 5;
  position: relative;
  top: 4rem;
}
.ins {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #cccccc;
  margin-bottom: 2rem;
}
.icons img {
  width: 1.2rem;
  color: white;
  padding: 1rem 0;
}
.logos img {
  width: 10rem;
  padding: 0 1rem;
}
.cafe {
  background-image: url(./img/map.jpeg);
}
.card:hover {
  scale: 1.1;
  box-shadow: 5px 5px 5px;
  transition: all 1s;
  cursor: pointer;
}
